#clave secreta de django
SECRET_KEY = #'clave-super-segura'

#modo de depuración (true/false)
DEBUG = True

#hosts permitidos
ALLOWED_HOSTS = #0.0.0.0

#Url de la base de datos
DATABASE_URL = 
#postgresql://usuario:contraseña@localhost:5432/nombre_basedatos
#mysql://usuario:contraseña@localhost:3306/nombre_basedatos
#sqlite://db.sqlite3