{% extends "core/base.html" %}
{% load static %} 

{% block title %} colegio 2 {% endblock %}
{% block content %}

<form class="body2" method="post" action="{% url 'student_create' %}">
    <fieldset>
        {% csrf_token %}
    <main>
        <div class="contenedor">
            <div class="cuadro">
                <div class="titulos">
                    <h1>Registro de estudiante</h1>
                    <p>Ingresa tus datos para acceder a tu registro</p>
                        <input type="text" name="estudiante" required placeholder="ingrese su nombre">
                        <br>
                        <input type="text" lastname="estudiante" placeholder="ingrese su apellido">
                        <br>
                        <input type="password" name="contraseña" minlength="5" pattern="^(?=.*\d).{8,}$"
                        placeholder="ingrese su contraseña" 
                        title="Minimo 5 caracteres" required>
                        <button class="boton"> <a href="{% url 'colegio3' %}" >Aceptar</a></button>
                        <button class="botonCrear"><a href="{% url 'crearregistro' %}">Crear registro</a></button>
                </div>
            </div>
        </div>
    </main>
</form>
{% endblock %}