{% extends "core/base.html" %}
{% load static %}

{% block title %} crear registro {% endblock %}
{% block content %}

<body>

    <main class="mainR">
        <figure class="main__figure">
            <img src="{% static 'core/img/imgregistro.jpg' %}" class="main__img">
        </figure>

        <div class="main__contact">

            <h2 class="main__title">¡Bienvenido!</h2>
            <p class="main__paragraph">¡Registrate aqui!</p>

            <form class="main__form">

                <input type="text" required placeholder="ingrese nombre de usuario" class="main__input">

                <input type="email" required placeholder="ingrese correo" class="main__input">

                <input type="password" placeholder="contraseña" class="main__input">

                <input type="submit" value="iniciar secion" class="main__input main__input--send">

            </form>
            <p>¿ya estas registrado?</p>
            <p class="main__paragraph"><a href="{% url 'colegio2' %}">inicia sesion</a></p>

            <article class="main__social">

                <a href="#" class="main__link">
                    <img src="{% static 'core/img/panorama.png' %}" class="main__icon">
                </a>

                <a href="#" class="main__link">
                    <img src="{% static 'core/img/cromo.png' %}" class="main__icon">
                </a>

                <a href="#" class="main__link">
                    <img src="{% static 'core/img/logotipo-de-apple.png' %}" class="main__icon">
                </a>

            </article>
        </div>
    </main>

</body>

{% endblock %}