{% extends "core/base.html" %}
{% load static %}

{% block title %} docente colegio {% endblock %}
{% block content%}
<body>
    
    <main>
        <div class="contener">
            <div class="cuadro">
                <div class="titulos">
                    <h1>Registro de docente</h1>
                    <p>Ingresa tus datos para acceder a tu registro</p>
                        <input type="text" name="estudiante" placeholder="ingrese su nombre">
                        <br>
                        <input type="text" lastname="estudiante" placeholder="ingrese su apellido">
                        <br>
                        <input type="password" name="contraseña" minlength="5" pattern="^(?=.*\d).{8,}$"
                        placeholder="ingrese su contraseña" 
                        title="Minimo 5 caracteres">
                        <button class="boton"> <a href="{% url 'docente_colegio2' %}" >Aceptar</a></button>
                </div>
            </div>
        </div>
    </main>
</body>
{% endblock %}