<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="colegio.css">
    <title>Document</title>
</head>
<body>
   <header class="header1">
       
        <div class="menu">
            <a href="" class="Logo">Logo</a>
            <img class="imgLogo" src="descarga.png" alt="">
            <nav class="nav1">
                <ul>
                    <li><a href="colegio.html">Inicio</a></li>
                    <li><a href="colegio2.html">Estudiantes</a></li>
                    <li><a href="seccion_colegio.html">Secciones</a></li>
                    <li><a href="materia_colegio.html">Materias</a></li>
                    <li><a href="docente_colegio.html">Docentes</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="registrodocente">
            <h1>Bienvenido(a)</h1>
            <p>Por los momentos no hay registros de docentes</p>
        </section>
    </main>
    <footer class="footer1">
        <div class="footer-content container">
            <div class="footer2">
                <h3>Más Información: </h3>
                <br>
                <ul class="masinformacion">
                    <li><a href="#">Contacto: </a>04165786842</li>
                    <li><a href="https://www.facebook.com/?locale=es_LA">Facebook: </a>Colegio Academia Educativa</li>
                    <li><a href="https://www.google.com/?hl=es">Google: </a>Buscar</li>
                    <li><a href="https://convivenciadigital.cl/las-10-webs-educativas-que
                        -no-te-pueden-faltar-esta-vuelta-a-clases/">Mejor Educación</a></li>
                </ul>
                <img src="descarga.png" class="logo2" alt="">
            </div>
        </div>
    </footer>
</body>
</html>