{% extends "core/base.html" %}
{% load static %}

{% block content%}
    <main class="main1">
        <div class="div4">
            <section class="section1">
                <h1>Bienvenidos al colegio Academia Educativa</h1>
                <p>Brindamos un ambiente seguro y profecional para tus hijos.</p>
                <a href="#Contacto" >
                    <button class="primerboton" >Contacto</button>
                </a> 
            </section>
         </div>
          <section class="section2">
            <h2 class="h21">Menú</h2>
            <Section class="container">
                 <div><a href="{% url 'colegio2' %}"  class="ul1" ><img src="{% static 'core/img/img5 estu.jpg' %}" alt=""><h3>Estudiantes</h3></a></div>
                 <div><a href="{% url 'seccion_colegio' %}" class="ul1"><img src="{% static 'core/img/img4.jpg' %}" alt=""><h3>Secciones</h3></a></div>
                 <div><a href="{% url 'materia_colegio' %}"  class="ul1"><img src="{% static 'core/img/img4.jpg' %}" alt=""><h3>Materias</h3></a></div>
                 <div><a href="{% url 'docente_colegio' %}"  class="ul1"><img src="{% static 'core/img/img3.jpg' %}" alt=""><h3>Docentes</h3></a></div>
            </Section>
          </section>
    </main>
{% endblock %}