{% extends "core/base.html" %}
{% load static %} 

{% block title %} Registro Docente {% endblock %}
{% block content %}
    <section class="main">
        <figure class="main__figure">
            <img src="{% static 'core/img/docente.webp' %}" class="main__img" alt="">
        </figure>

        <div class="main__contact">
            <h2 class="main__title">Registro Docente</h2>
            <p class="main__paragraph">Ingresa los datos del docente</p>
            <form class="main__form" method="POST" enctype="multipart/form-data" action="{% url 'register_teaching' %}">
                {% csrf_token %}

                <input type="text" name="name" placeholder="Nombre del docente" class="main__input">
                {% if errors.name %}
                    <p style="color: red;">{{ errors.name }}</p>
                {% endif %}
                <input type="text" name="lastname" placeholder="apellido del docente" class="main__input">
                {% if errors.lastname %}
                    <p style="color: red;">{{ errors.lastname }}</p>
                {% endif %}
                <input type="text" name="phone" placeholder="numero de telefono" class="main__input">
                {% if errors.phone %}
                    <p style="color: red;">{{ errors.phone }}</p>
                {% endif %}
                <input type="email" name="email" placeholder="ingresa tu correo" class="main__input">
                {% if errors.email %}
                    <p style="color: red;">{{ errors.email }}</p>
                {% endif %}
                <input type="text" name="direction" placeholder="Ej. Av. Siempreviva 742" autocomplete="street-address" class="main__input">
                {% if errors.direction %}
                    <p style="color: red;">{{ errors.direction }}</p>
                {% endif %}
                <input type="text" id="especialidad" name="specialty" placeholder="Ingresa tu especialidad" class="main__input">
                <div class="form-group-row">
                    <input type="text" name="dni" id="documento_id" maxlength="12" placeholder="Número de documento" class="main__input">
                    {% if errors.dni %}
                    <p style="color: red;">{{ errors.dni }}</p>
                    {% endif %}
                    
                </div>

                <select name="subject" id="subject" class="main__input" required>
                    <option value="" disabled selected> Materias </option>
                        {% for subject_obj in subjects %}
                            <option value="{{subject_obj.id}}" {% if subject_obj.id == subject_id|add:"0" %}
                            selected{% endif %}>{{ subject_obj.name}}</option>
                        {% endfor %}
                </select>
                {% if errors.subject %}
                    <p style="color: red;">{{ errors.subject }}</p>
                {% endif %}
                
                <input type="submit" value="Registrar docente" class="main_input main_input--send" >
                <button class="botonnegro"><a href="{% url 'docente_colegio2' %}">Docente registrados</a></button>
            </form>
        </div>
    </section>
{% endblock %}
</html>