{% extends "core/base.html" %}
{% load static %}

{% block title %} sección colegio {% endblock %}
{% block content %}
<body>
    <main>
        <div class="div_seccion">
            <div><h2>sección A<img src="{% static 'core/img/seccion1.jpg' %}" alt=""></h2></div>
            <div><h2>sección B<img src="{% static 'core/img/seccion2.jpg' %}" alt=""></h2></div>
            <div><h2>sección C<img src="{% static 'core/img/seccion3.jpg' %}" alt=""></h2></div>
        </div>
    </main>
    
</body>
{% endblock %}