{% load static %}

<div class="primera">
    <div class="mate">
        <h3>Matemáticas</h3>
        <p>Ciencia que estudia cantidades, magnitudes, estructuras y cambios, utilizando
        la lógica para resolver problemas, describir números, 
        símbolos y formas.</p>
    </div>
    <div class="img.mate">
        <img src="{% static 'core/img/matematica.png' %}" alt="">
    </div>
</div>
<div class="primera">
    <div class="quimica">
        <h3>Química</h3>
        <p>Ciencia que estudia la materia (todo lo que tiene masa y ocupa espacio)
        y la energía.</p>
    </div>
    <div class="img.quimica">
        <img src="{% static 'core/img/quimica.jpg' %}" alt="">
    </div>
</div>
<div class="primera">
    <div class="fisica">
        <h3>Física</h3>
        <p> Ciencia fundamental que estudia la naturaleza,
        la materia, la energía, el espacio y el tiempo.
        </p>
    </div>
    <div class="img.fisica">
        <img src="{% static 'core/img/fisica.avif' %}" alt="">
    </div>
</div>
<div class="primera">
    <div class="lenguaje">
        <h3>Lenguaje</h3>
        <p>Segunda lengua materna más hablada del mundo y
        es la lengua oficial de 21 países.
        </p>
    </div>
    <div class="img.lenguaje">
        <img src="{% static 'core/img/castellano.jpg' %}" alt="">
    </div>
</div>
<div class="primera">
    <div class="ingles">
        <h3>Inglés</h3>
        <p>Lengua germánica globalmente influyente,
        vital para la comunicación internacional, la ciencia y el entretenimiento.</p>
    </div>
    <div class="img.ingles">
        <img src="{% static 'core/img/ingles.jpg' %}" alt="">
    </div>
</div>
<div class="primera">
    <div class="biologia">
        <h3>Biología</h3>
        <p>Es la ciencia que estudia la vida en todas sus formas,
        desde lo más pequeño (células, ADN) hasta los grandes ecosistema.</p>
    </div>
    <div class="img.biologia">
        <img src="{% static 'core/img/biologia.png' %}" alt="">
    </div>
</div>
<div class="primera">
    <div class="ghc">
        <h3>Geografia, Historia y Ciudadania</h3>
        <p>Geografía estudia el espacio y la interacción humano-ambiente; Historia, el pasado 
        para entender el presente; y Ciudadanía, los derechos y deberes del
        individuo en la sociedad</p>
    </div>
    <div class="img.ghc">
        <img src="{% static 'core/img/ghc4.avif' %}" alt="">
    </div>
</div>
<div class="primera">
    <div class="orientacion">
        <h3>Orientación Vocacional</h3>
        <p>Es un proceso de autoconocimiento para alinear tus gustos,
        habilidades e intereses con opciones educativas y laborales.</p>
    </div>
    <div class="img.orientacion">
        <img src="{% static 'core/img/orient.jpg' %}" alt="">
    </div>
</div>